/******* GENERAL *******/
html {
    font-size: 15px;
}

body {
    background-color: rgb(20, 19, 19) !important;
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 900 !important;
    font-style: normal !important;
    font-variation-settings: "slnt" -3 !important;
}

/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#about,
#skills,
#portfolio {
    h1 {
        font-size: 50px;
        color: rgb(255, 192, 0);
    }

    h2 {
        font-size: 40px;
        margin-bottom: 3rem;
        color: rgb(255, 192, 0);
    }

    h3 {
        font-size: 30px;
    }

}

#contact {
    padding-bottom: 4rem;

    h2 {
        font-size: 30px;
        margin-bottom: 3rem;
        color: white;
    }
}

/* display background dark color on navbar scroll */
.navbarScroll {
    background-color: #5b5b5b;
}

.nav-link {
    color: white !important;
}

/* hero background image */
.bgimage img {
    height: 300px;
    min-height: 100px;
    width: 100%;
    padding: 0px;
}

/* text css above hero image*/
.hero_title {
    font-weight: 800;
    font-size: 25px;
}

.hero-text {
    color: white;
    text-align: center;
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 0;
}

/* about */
#about {
    color: white;
}

#about p {
    text-align: center;
}

#about .imageAboutPage {
    width: 200px;
    height: 220px;
}

/* Style buttons */
#about .btn {
    background-color: rgb(255, 192, 0);
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    width: 80%;
}

.navbar-brand:hover,
.nav-item:hover,
.btn:hover {
    scale: 1.05;
}

/* skills */
.skillsText .card {
    cursor: pointer;
}

.skillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

#skills p {
    text-align: center;
}

.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
    color: black;
    font-weight: 700;
}


/* portfolio */
.portfolioContent {
    min-height: 380px;
    height: fit-content;
    padding: 0;
}

.portfolioContent img {
    width: 100%;
    object-fit: contain;
    width: 100%;
    height: auto;
    min-height: 130px;

}

#portfolio p {
    text-align: center;
    width: 100%;
}

.portfolioContent p {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 5% 0;
}

.portfolioContent .btn {
    color: black;
    background-color: rgb(255, 192, 0);
    width: 100%;
}

/* contact */
.contactColumn {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactColumn i {
    color: rgb(255, 192, 0);
}

.contactColumn a {
    color: white !important;
    text-align: center;

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #about,
    #skills,
    #contact,
    #portfolio {

        h1,
        h2 {
            font-size: 70px;
        }
    }

    .bgimage img {
        height: 700px;
    }



    #about p {
        text-align: inherit;
    }

    .hero-text {

        top: 35%;

    }

    .hero_title {
        font-size: 50px;
    }

    .hero_desc {
        font-size: 30px;
    }

    .card-title {
        font-size: 20px;

    }

    #about .imageAboutPage {
        width: 260px;
        height: 300px;
    }
}

/* Medium devices (tablets, 1000px and up) */
@media (min-width: 1000px) {


    #about p {
        text-align: inherit;
    }

    .hero_title {
        font-size: 75px;
    }

    .hero_desc {
        font-size: 35px;
    }

}